# To be installed in /usr/lib/systemd/system/
# Permissions 664, owned by root:root
# Must use run-continuously-version of SBFspot with
#  option RunInterval set to nonzero in config file
# Use special config file (see below) for the service,
#  making SBFspot as quiet as possible. Deactivate all
#  unneccesary options, for instance csv or db downloads.
# If wanting output, enable as preferred. Inspect stdoutput
#  with command 'sudo journalctl -efu sbfspot.service' .

[Unit]
Description=SBFspot server
After=mysql.service mariadb.service network.target

[Service]
User=pi
Type=simple
PIDFile=/var/run/sbfspot.pid
ExecStart=/usr/local/bin/sbfspot.3/SBFspot -d1 -v2 -ad0 -am0 -ae0 -q -nocsv -nosql -sp0 -cfgSBFspot-svc.cfg -mqtt
ExecStop=/bin/kill -s TERM $MAINPID
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-fail
RestartSec=10
TimeoutStartSec=10
KillMode=process
TimeoutStopSec=5
SyslogIdentifier=sbfspot

[Install]
WantedBy=multi-user.target
